<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Commands - BurritoBot</title>
</head>
<body>
<div id="Commands">
    <form method="post" id="command_formset" action="{% url 'edit_commands' %}">
        <div id="existing-commands">
        <h1 id="saved_commands">Commands</h1>
        {% if command_formset.forms %}
                {% csrf_token %}
                {{ command_formset.management_form }}
                {% for form in command_formset %}
                    {{ form }}
                {% empty %}
                <p class="no_commands">There are no commands saved... yet.</p>
                {% endfor %}
        {% endif %}
        <input type="submit" value="Submit"/>
    </form>
</div>
</body>
</html>